<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prescription Recommendations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="centered-container">
    <h1>Recommended Solutions</h1>
    {% if impossible %}
        <div class="error">No valid fertilizer recommendation found for your prescription and blends. Try adjusting your inputs.</div>
    {% endif %}
    {% if best_note %}
        <div class="warning">{{ best_note }}</div>
    {% endif %}
    {% if matches %}
        {% for rec in matches %}
            <div class="result-block">
                <b>Type:</b> {{ rec['type']|capitalize }}<br>
                {{ rec['names']|join(' + ') }}
                <div>
                    <b>Total Cost:</b> ${{ '%.2f'|format(rec['total_cost']) }}<br>
                    <b>Total N applied:</b> {{ '%.2f'|format(rec['applied_n']) }} lbs<br>
                    <b>Total P applied:</b> {{ '%.2f'|format(rec['applied_p']) }} lbs<br>
                    <b>Total K applied:</b> {{ '%.2f'|format(rec['applied_k']) }} lbs<br>
                    <b>Excess N:</b> {{ '%.2f'|format(rec['excess_n']) }} lbs<br>
                    <b>Excess P:</b> {{ '%.2f'|format(rec['excess_p']) }} lbs<br>
                    <b>Excess K:</b> {{ '%.2f'|format(rec['excess_k']) }} lbs<br>
                </div>
                {% if rec.excess_warning %}
                    <div class="warning">{{ rec.excess_warning }}</div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}

    {% if custom_matches and custom_matches|length > 0 %}
        <h2>Custom Solutions</h2>
        {% for rec in custom_matches %}
            <div class="result-block custom-block">
                <b>Type:</b> {{ rec['type']|capitalize }}<br>
                {{ rec['names']|join(' + ') }}
                <div>
                    <b>Total Cost:</b> ${{ '%.2f'|format(rec['total_cost']) }}<br>
                    <b>Total N applied:</b> {{ '%.2f'|format(rec['applied_n']) }} lbs<br>
                    <b>Total P applied:</b> {{ '%.2f'|format(rec['applied_p']) }} lbs<br>
                    <b>Total K applied:</b> {{ '%.2f'|format(rec['applied_k']) }} lbs<br>
                    <b>Excess N:</b> {{ '%.2f'|format(rec['excess_n']) }} lbs<br>
                    <b>Excess P:</b> {{ '%.2f'|format(rec['excess_p']) }} lbs<br>
                    <b>Excess K:</b> {{ '%.2f'|format(rec['excess_k']) }} lbs<br>
                </div>
                {% if rec.excess_warning %}
                    <div class="warning">{{ rec.excess_warning }}</div>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
    <div class="button-row">
        <a href="{{ url_for('index') }}" class="btn">Back</a>
        <a href="{{ url_for('customize') }}" class="btn">Next</a>
    </div>
</div>
{% include "_footer.html" %}
</body>
</html>